@import "null_stule.css";
html {
  background-color: #D7D7D7;
}

.img-block {
  max-width: 80px;
}

.wrapper {
  background-color: #D7D7D7;
  padding: 30px 0;
}

.header .search-block {
  background-color: honeydew;
}
.header .search-block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}
.header .search-block .logo {
  color: palegreen;
  font-weight: bold;
  font-size: 32px;
}
.header .search-block .input-group {
  max-width: 400px;
}
.header .search-block .input-group .btn img {
  max-width: 30px;
}
.header .nav {
  background-color: aliceblue;
}
.header .nav-block {
  padding: 20px 0px 0 0;
}
.header .nav-block ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .nav-block ul li:first-child {
  margin-left: 0;
}
.header .nav-block ul li {
  margin-left: 20px;
}
.header .nav-block ul li a {
  color: black;
  text-decoration: none;
}
.header .nav-block ul li a:hover {
  color: gray;
}
.header .nav-block ul li a:active {
  color: palegreen;
}

.content--today {
  display: grid;
  gap: 30px;
}
.content--today .title {
  color: palegreen;
  font-size: 25px;
  text-transform: uppercase;
}
.content--today .date {
  color: palegreen;
  font-size: 18px;
  margin: auto 0;
}
.content--today .current-item {
  background-color: white;
}
.content--today .current-item .header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}
.content--today .current-item .main-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}
.content--today .current-item .main-item .img-title {
  margin-top: 10px;
  text-align: center;
}
.content--today .current-item .main-item .degree-block .degree {
  font-size: 48px;
  margin: 0;
}
.content--today .current-item .main-item .degree-block .degree-feel {
  font-size: 12px;
  color: #474747;
}
.content--today .current-item .main-item .info-block {
  color: #474747;
  font-size: 14px;
}
.content--today .hourly-item {
  background-color: white;
  padding: 20px;
}
.content--today .hourly-item .title {
  padding-bottom: 10px;
}
.content--today .hourly-item .row-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  color: #474747;
}
.content--today .hourly-item .row-items .item-description .forecast {
  margin-top: 96px;
}
.content--today .places-item {
  background-color: white;
  padding: 20px;
}
.content--today .places-item .title {
  padding-bottom: 10px;
}
.content--today .places-item .items-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.content--today .places-item .items-block .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 20px;
  background-color: #EDEDED;
}
.content--today .places-item .items-block .item .mini-img-block {
  height: 40px;
  margin-right: 20px;
}
.content--today .places-item .items-block .item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content--today .places-item .items-block .item .temp, .content--today .places-item .items-block .item .city {
  margin: auto 0;
}

.content--today {
  display: none;
}

.content--five-days .title {
  color: palegreen;
  font-size: 25px;
  text-transform: uppercase;
}
.content--five-days .days-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2px;
  margin-bottom: 30px;
}
.content--five-days .days-item .item {
  background-color: #F6F6F6;
  border: none;
}
.content--five-days .days-item .item .day {
  color: #474747;
  margin-top: 10px;
  text-transform: uppercase;
}
.content--five-days .days-item .item .temp {
  margin-top: 10px;
}
.content--five-days .days-item .item:hover {
  background-color: white;
}
.content--five-days .hourly-item {
  background-color: white;
  padding: 20px;
}
.content--five-days .hourly-item .title {
  padding-bottom: 10px;
}
.content--five-days .hourly-item .row-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  color: #474747;
}
.content--five-days .hourly-item .row-items .item-description .forecast {
  margin-top: 96px;
}

.content--five-days {
  display: none;
}

.content--non-location .item {
  background-color: #F6F6F6;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
.content--non-location .item img {
  height: 300px;
  margin-bottom: 20px;
}

.content--non-location {
  display: none;
}