@import "null_stule.css";
html{
   background-color: #D7D7D7;
}
.img-block{
   max-width: 80px;
}
.wrapper{
   background-color: #D7D7D7;
   padding: 30px 0;
}
//header
.header{
   & .search-block{
      background-color: honeydew;
      & .container{
         display: flex;
         justify-content: space-between;
         padding: 20px;
      }
      & .logo{
         color: palegreen;
         font-weight: bold;
         font-size: 32px;
      }
      & .input-group{
         max-width: 400px;
         & .btn{
            & img{
               max-width: 30px;
            }
         }
      }
   }
   & .nav{
      background-color: aliceblue;
   }
   & .nav-block{
      padding: 20px 0px 0 0;
      & ul{list-style: none;
         padding: 0;
         display: flex;
         & li:first-child{
            margin-left: 0;
         }
         & li{
            margin-left: 20px;
            & a{
               color: black;
               text-decoration: none;
            }
            & a:hover{
               color: gray;
            }
            & a:active{
               color: palegreen;
            }
         }
      }
   }
}
//content today
.content--today{
   display: grid;
   gap: 30px;
   & .title{
      color: palegreen;
      font-size: 25px;
      text-transform: uppercase;
   }
   & .date{
      color: palegreen;
      font-size: 18px;
      margin: auto 0;
   }
   & .current-item{
      background-color: white;
      & .header-item{
         display: flex;
         justify-content: space-between;
         padding: 10px;
      }
      & .main-item{
         display: flex;
         justify-content: space-around;
         padding: 20px;
         & .img-title{
            margin-top: 10px;
            text-align: center;
         }
         & .degree-block{
            & .degree{
               font-size: 48px;
               margin: 0;
            }
            & .degree-feel{
               font-size: 12px;
               color: #474747;
            }
         }
         & .info-block{
            color: #474747;
            font-size: 14px;
         }
      }
   }
   & .hourly-item{
      background-color: white;
      padding: 20px;
      & .title{
         padding-bottom: 10px;
      }
      & .row-items{
         display: flex;
         justify-content: space-around;
         text-align: center;
         color: #474747;
         & .item-description{
            & .forecast{
               margin-top: 96px;
            }
         }
      }
   }
   & .places-item{
      background-color: white;
      padding: 20px;
      & .title{
         padding-bottom: 10px;
      }
      & .items-block{
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 20px;
         & .item{
            display: flex;
            justify-content: space-between;
            padding: 5px 20px;
            background-color: #EDEDED;
            & .mini-img-block{
               height: 40px;
               margin-right: 20px;
            }
            & .info{
               display: flex;
            }
            & .temp, .city{
               margin: auto 0;
            }
         }
      }
   }
}
.content--today{
   display: none;
}
//content five days
.content--five-days{
   & .title{
      color: palegreen;
      font-size: 25px;
      text-transform: uppercase;
   }
   & .days-item{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 2px;
      margin-bottom: 30px;
      & .item{
         background-color: #F6F6F6;
         border: none;
         & .day{
            color: #474747;
            margin-top: 10px;
            text-transform: uppercase;
         }
         & .temp{
            margin-top: 10px;
         }
      }
      & .item:hover{
         background-color: white;
      }
   }
   & .hourly-item{
      background-color: white;
      padding: 20px;
      & .title{
         padding-bottom: 10px;
      }
      & .row-items{
         display: flex;
         justify-content: space-around;
         text-align: center;
         color: #474747;
         & .item-description{
            & .forecast{
               margin-top: 96px;
            }
         }
      }
   }
}
.content--five-days{
   display: none;
}
//content non location
.content--non-location{
   .item{
      background-color: #F6F6F6;
      text-align: center;
      padding: 20px;
      border-radius: 20px;
      & img{
         height: 300px;
         margin-bottom: 20px;
      }
   }
}
.content--non-location{
   display: none;
}

.content--active{
   display: block;
}